---
import Main from "../layouts/Main.astro";
import { Image } from "astro:assets";
---

<Main>
    <div class="mx-6 lg:mx-36 2xl:mx-96 flex-grow flex items-center">
        <div class="md:flex">
            <Image format="webp" class="md:w-1/2" src="/images/icon3.png" alt="icono" width="500" height="500" />
            <div class="md:flex items-center text-center md:text-start md:justify-center md:w-1/2">
                <div>
                    <h1 class="text-6xl font-bold mb-6">¡Bienvenido a mi blog!</h1>
                </div>
            </div>
        </div>
    </div>
</Main>
